:root{
    --color-verdeCentral:#72811A;
    --color-naranja:#E9A92E;
    --color-verdeOscuro:#384001;
    --color-granate:#730217;
    --color-rojo:#BF0426;
    --texto-general: 'Source Sans Pro', sans-serif;
    --texto-titulo:'Rubik', sans-serif;
}